* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2020/04/12/18/13/background-5035258_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 1;
    background-color: rgba(53, 53, 53, 0.4);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

#phone-navbar {
    display: none;
}

#logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15%;
}

#logo-container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#logo-container img:hover {
    transform: rotateZ(360deg);
    transition: 1s ease;
}

#logo-container p {
    font-family: "Lily Script One", system-ui;
    font-size: 1.7em;
    font-weight: 700;
    background: -webkit-linear-gradient(315deg, #BD2B0B, #E3B83F);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    color: rgb(168, 168, 168);
}

#search-bar-container label {
    position: relative;
    left: 7%;
}

#search {
    width: 100%;
    max-height: 55%;
    padding: 3%;
    padding-left: 8%;
    border-radius: 15px;
    color: rgb(168, 168, 168);
    background-color: rgba(128, 128, 128, 0.5);
    border: none;
}

#search::placeholder {
    color: rgb(168, 168, 168);
}

#search:focus {
    outline: none;
}

#search:hover {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}

#navbar-buttons {
    width: 30%;
    height: 100%;
}

#navbar-buttons>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    height: 100%;
}

#navbar-buttons>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-buttons>ul a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 900;
    padding: 20%;
    border-radius: 5px;
    align-items: center;
    color: rgb(168, 168, 168);
    text-decoration: none;
}

#navbar-buttons>ul a:hover {
    color: rgba(128, 128, 128, 0.5);
}

#profile-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 100%;
}

#profile-button img {
    width: 65%;
    height: 100%;
    border-radius: 50%;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1500px;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    background-color: rgba(128, 128, 128, 0.9);
    border-radius: 25px;
    padding: 5%;
    box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

#container>div {
    width: 100%;
    border-radius: 25px;
    border: 1px solid black;
}

#main-container {
    height: 16%;
    position: relative;
}

#main-container img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

#main-container-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#main-content {
    width: 100%;
    height: 100%;
    padding: 2% 5%;
}

#main-content h1 {
    font-size: 1.3em;
    margin-bottom: 6px;
    color: rgb(240, 240, 240);
}

#main-content p {
    font-size: 1.9em;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 14px;
    color: rgb(240, 240, 240);
}

#main-content p>span {
    color: rgb(118, 207, 55);
}

#main-content button {
    width: 24%;
    height: 18%;
}

#main-video {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

#main-video video {
    width: 80%;
    height: 80%;
}

#video-text {
    font-size: 200%;
    font-weight: 900;
    position: absolute;
    left: 25%;
    cursor: default;
    animation: video-text-anim 1s linear infinite;
}

#popular-games-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 46%;
    padding: 0% 5%;
    background-color: rgba(53, 53, 53, 0.9);
    box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

#games-content {
    color: rgb(118, 207, 55);
    font-weight: 900;
}

#games {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
}

.game-ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
    width: 21%;
    height: 46%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding-top: 2%;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.9);
    border-radius: 15px;
    transition: 0.3s all ease-in-out;
}

.game-ticket:hover {
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

.game-ticket .game-image {
    height: 50%;
    width: 90%;
    margin-bottom: 5%;
}

.game-ticket .game-image>img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.game-content {
    width: 75%;
    height: 20%;
}

.game-info {
    width: 100%;
    height: 50%;
    color: #f0f0f0;
    font-size: 0.9em;
}

.game-likes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.game-likes svg {
    color: #DEEA3B;
}

.game-downloads {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.game-downloads span:first-child {
    color: rgba(53, 53, 53, 0.9);
}

.game-downloads svg {
    color: rgb(118, 207, 55);
}

.game-price {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    margin-top: 10%;
    font-size: 95%;
    width: 35%;
    height: 12%;
    border-radius: 15px;
    background-color: rgba(53, 53, 53, 0.9);
}

#games-button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6%;
}

#games-button button {
    width: 15%;
    height: 100%;
}

#library-games-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 26%;
    padding: 0% 5%;
    background-color: rgba(53, 53, 53, 0.9);
    box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

#library-content {
    color: rgb(118, 207, 55);
    font-weight: 900;
    height: 10%;
}

#library {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65%;
}

.library-game-ticket {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 25%;
    margin-top: 0.7%;
    margin-bottom: 0.7%;
    background-color: rgba(128, 128, 128, 0.9);
    border-radius: 20px;
    transition: 0.2s all ease-in-out;
    text-decoration: none;
}

.library-game-ticket:hover {
    transform: scale(1.04);
    transition: 0.2s all ease-in-out;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

.library-image {
    width: 10%;
    height: 90%;
}

.library-image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.library-info {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.library-info p {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.library-info p>span:first-child {
    color: #f0f0f0;
}

.library-info p>span:last-child {
    color: rgba(53, 53, 53, 0.9);
}

.library-download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
}

.library-download-button button {
    width: 80%;
    height: 50%;
    color: rgba(53, 53, 53, 0.9);
    background-color: transparent;
    border: 1px solid rgba(53, 53, 53, 0.9);
    border-radius: 20px;
    font-size: 70%;
    cursor: pointer;
}

.library-download-button button:hover {
    color: rgba(128, 128, 128, 0.9);
    background-color: rgba(53, 53, 53, 0.9);
    border: 1px solid rgba(128, 128, 128, 0.9);
    border-radius: 20px;
}


#library-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

#library-button button {
    width: 15%;
    height: 70%;
}

.h2-headline {
    color: #f0f0f0;
    text-decoration: underline;
}

.green-button {
    border-radius: 25px;
    border: none;
    color: rgb(240, 240, 240);
    background-color: rgb(118, 207, 55);
    cursor: pointer;
}

.green-button:hover {
    background-color: rgb(86, 152, 39);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

#footer {
    margin-top: 20px;
    width: 100%;
    height: 120px;
    padding: 2%;
    background-color: rgba(53, 53, 53, 0.9);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

#contact-msg {
    color: rgba(128, 128, 128, 0.9);
}

#contact-socials {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 90%;
}

#contact-socials div {
    width: 3%;
    height: 50%;
    margin: 0% 1%;
}

#contact-socials img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 0.1s ease;
}

#contact-socials img:hover {
    transform: translateY(-2px);
    transition: 0.1 ease;
}

@keyframes video-text-anim {
    from {
        color: transparent;
    }

    to {
        background: -webkit-linear-gradient(315deg, #579828, #DEEA3B);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media only screen and (max-width: 900px) {
    #container {
        width: 100%;
        margin-left: 0;
    }

    #logo-container {
        width: 20%;
    }

    #video-text {
        font-size: 180%;
        left: 20%;
    }
}

@media only screen and (max-width: 700px) {
    #navbar {
        display: none;
    }

    #phone-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 50px;
        background-color: rgba(53, 53, 53, 0.4);
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
    }

    #navbar-buttons {
        width: 15%;
        height: 100%;
    }

    #navbar-buttons button {
        width: 100%;
        height: 100%;
    }

    #navbar-buttons svg {
        height: 100%;
        width: 100%;
        background-color: rgba(53, 53, 53, 0.9);
    }

    #logo-container {
        padding: 0% 4%;
        height: 100%;
        width: 45%;
    }

    #logo-container img {
        height: 100%;
        width: 100%;
    }

    #search-bar-container {
        width: 100%;
    }

    #search-bar-container label {
        left: 5%;
    }

    #search {
        height: 70%;
        width: 80%;
        padding: 2.3%;
        padding-left: 6%;
        border-radius: 25px;
    }

    .game-ticket {
        font-size: 0.7em;
        width: 38%;
        height: 32%;
    }

    #main-content p {
        font-size: 1.3em;
    }

    #video-text {
        font-size: 180%;
        left: 15%;
    }

    #main-content button {
        margin-top: 5%;
        width: 50%;
    }

    #games-button button,
    #library-button button {
        width: 25%;
    }

    .library-download-button button {
        font-size: 60%;
    }

    #footer {
        height: 100px;
    }

    #contact-socials {
        height: 70%;
    }

    #contact-socials div {
        margin: 0% 2%;
    }
}

@media only screen and (max-width: 500px) {
    #main-content p {
        font-size: 1.1em;
        margin-bottom: 12px;
    }

    #search-bar-container label {
        left: 12%;
    }

    #search {
        padding-left: 14%;
    }

    #video-text {
        font-size: 120%;
        left: 17%;
    }

    #library-games-container {
        padding: 0% 0.4%;
    }

    .library-info p {
        font-size: 0.8em;
    }
    
    .library-download-button {
        width: 20%;
    }

    .library-download-button button {
        font-size: 47%;
        font-weight: 700;
    }

    #contact-socials {
        height: 50%;
    }

    #contact-socials div {
        margin: 0% 4%;
    }
}